*{
  /* outline: red dashed 1px; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked {
  background-color: brown;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #293241;
  height: 85%;
}

.overall-app-container{
  height: 100vh;
}

/* ====={ Header styling }===== */
.nav {
  background-color: #e0fbfc;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 15%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .3rem;
}

.header-icon {
  display: flex;
  justify-content: space-between;
}

.header-icon img {
  /* padding: 1rem; */
  height: 70%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li.active {
  background-color: #98d1c9;
}

.nav li:hover {
  background-color: #8dc1ba;
}

/* Remove Item Form styling */
.removal-container {
  display: flex;
  flex-wrap: wrap;
}

.removal-card {
  display: flex;
  height: 200px;
  flex-direction: column;
}

.removal-card img {
  height: 100px;
}

.selected {
  border: 10px rgb(0, 191, 255) solid;
  border-radius: 14px;
}

/* Account Visualization styling */

.account-view {
  /* outline: 1px red dashed; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  background-color: #293241;
  /* background-color: #3D5A80; */
}

.account-view-pfp {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-color: #00000038;
}

.account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.account-view-greeting {
  font-size: 3.5em;
  color: #EE6C3D;
}

.acc-btn {
  height: 75px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: #EE6C3D;
}

/* Featured Card start */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 35%;
  margin: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
}

.featured-card-text-container {
  padding: 2px 16px;
}

/* ====={ Account Creation Styling }===== */
/* .email-entry {

}

.email-entry-label {

}

.username-entry {

}

.username-entry-label {

}

.password-entry {

}

.password-entry-label {
  
} */
