@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
  /* outline: red dashed 1px; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked {
  background-color: brown;
}
/* nates-test-header navbar css begin */

.sectionHeader{
  font-family: "Poiret One", sans-serif;
  font-weight: 0;
  font-style: normal;
}
.overall-app-container {
  /* background-color: #293241; */
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #345c72;
  height: 85%;
}

.overall-app-container{
  height: 100vh;
}

/* ====={ Header styling }===== */
.nav {
  background-color: #e0fbfc;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 15%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .3rem;
}

.header-icon {
  padding-left: 200px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.header-icon img {
  /* padding: 1rem; */
  height: 80%;
}

.header-title{
 padding-left: 300px;
 padding-top: 40px;
 color:#293241;
 font-size: 20px;
}

.nav ul {
  /* padding: 0; */
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 20px;
  height: 100px;
  padding-top: 10px;
}

.nav li.active {
  background-color: #98d1c9;
}

.nav li:hover {
  background-color: #8dc1ba;
}

#shoppingIcon{
  color:#24324b
}

#accountIcon{
  color:#24324b
}

/* Remove Item Form styling */
.removal-container {
  display: flex;
  flex-wrap: wrap;
}

.removal-card {
  display: flex;
  height: 200px;
  flex-direction: column;
}

.removal-card img {
  height: 100px;
}

.selected {
  border: 10px rgb(0, 191, 255) solid;
  border-radius: 14px;
}

/* Welcome/Landing Page */
.welcome-container {
  display: grid;
  grid-template-columns: auto auto;
  gap:50px;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  height: 100%;
}

.featured {
  /* vv only change, revert if wanted/needed vv */
  margin-bottom: 50px;
  /* margin: 10px; */ /* initial margin */

  display:grid;
  grid-column-gap: 25px;
  grid-auto-flow: column;
  padding: 25px;
  list-style:none;
  overflow-x: scroll;
 
  background-color: rgba(0, 0, 0, 0.219); 
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.featured-title {
  /* vv only change, revert if wanted/needed vv */
  margin-top: 4rem;
  /* margin-top: 5.5rem; */ /* initial margin */

  display:flex;
  justify-content: center;
  color: #EE6C3D;
  font-size: 3em;
  width: 100%;
  align-self: center;
}

.featured-card-text{
  color: #293241;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  
}
.card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background:#e7dbb6;
  border-radius: 10px;
  height: 400px;
  width: 320px;
}

.featured-card-container{
  border-radius: 10px;
  scroll-snap-align: start;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}



.featured::-webkit-scrollbar{
  height: 12px;

}

.featured::-webkit-scrollbar-thumb{
  background:#EE6C3D;
}

.featured::-webkit-scrollbar-track {
  /* Changed */
  background: rgba(0, 0, 0, 0.085);
  /* background: white; */
}

.featured::-webkit-scrollbar-track,
.featured::-webkit-scrollbar-thumb{
  border-radius:92px;
}

.featured-product-img{
  
  border-radius: 10px;
  width: 300px;
  height:300px; 
}
.featuredTitle{
 color:#293241;

}

.featuredPriceandButton{
  padding-top: 10px;
  color: #293241;
  display:flex;
  width: 45%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

}


.featured-card-button{
  color:#293241;
  font-style: bold;
  border: #293241;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
  
  
}
.featured-card-button:hover {
  background-color: #24324b;
  color:aliceblue;
}

.welcome-banner {
  margin-top: 10rem;
  align-self: center;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  background-blend-mode: lighten;
 
}
.grid1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* App main content container begin*/
.container {
  display: flex; 
  justify-content: center;
}
/* App main content container end */
/* Account Visualization styling */

.account-view {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 95%;
  width: 80%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  background-color: #293241;
}

.account-view-pfp {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color: #00000038;
}

.account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.account-view-greeting {
  font-size: 3.5em;
  color: #EE6C3D;
}

.acc-btn {
  height: 70px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #EE6C3D;
  color: #e0fbfc;
}

.acc-btn:hover {
  cursor: pointer;
  background-color: orange;
  transition: 0.3s;
}

.admin-btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.customer-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}


/* Featured Card start */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 35%; */
  /* width: 500px; */
  /* margin: 5%; */
}





.featured-card-text-container {
  padding: 2px 16px;
}

/* ====={ Account Creation Styling }===== */

.new-user-form{
  display: flex;
  flex-direction: column;
}

.create-account-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bs-container {
  height: 95%;
  width: 80%;
  border-radius: 20px;
  background-color: #293241;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-header {
  color: #EE6C3D;
  font-size: 3em;
}

.entry {
  font-size: 1.7em;
  width: 600px;
  height: 35px;
  background-color: #0000005d;
  border: none;
  border-radius: 6px;
  color: #e0fbfc;
  padding: 10px;
  outline: none;
}

.entry:hover {
  transition: 0.1s;
  opacity: 50%;
}

.entry:focus {
  opacity: 100%;
  background-color: #98d1c9;
  border: none;
}

.entry-label {
  color: #EE6C3D;
  font-size: 1.7em;
  margin: 10px 10px 10px 0;
}

.admin-check-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 15px;
}

.admin-check{
  scale: 2;
}

.ac-label {
  margin-left: 15px;
  color: #e0fbfc;
}

.create-user-btn {
  width: 150px;
  height: 60px;
  /* margin-top: 25px; */
  background-color: #EE6C3D;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.create-user-btn:hover {
  cursor: pointer;
  transition: .3s;
  background-color: orange;
}

.stat-span {
  color: #98d1c9;
}

.link-span {
  color: #e0fbfc;
}

.link-span:hover {
  cursor: pointer;
  color: #98d1c9;
  transition: .3s;
}

/* ====={ Login (everything else shared classes with above) }===== */

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container .create-user-btn {
  margin-top: 30px;
}

.valid-span {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  color: red;
}

/* ====={ Account Edit View }===== */

.edit-user-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 80%;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #293241;
}

.edit-user-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Search Bar Styling */
.searchBarContainer {
  /* vv Only changes vv */

  /* padding-left: 30px; */ /* commented this out */
  align-items: center; /* uncommented this */

  margin-top: 0;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.input-wrapper {
  padding-left: 20px;
  background-color: white;
  width: 900px;
  border-radius: 20px;
  height: 3.5rem;
  padding: 0 15px;
  /* box-shadow: 0px 0px 8px #ddd; */
  display:flex;
  align-items: center;
} 
.input-wrapper input {
 display:flex;
 padding-left: 10px;
 height: 50px;
 width: 1000px; 
 border: hidden;
 outline:none;
 font-size: 25px;
 
}
.search{
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color:blue ; */
}

#search-icon {
  color:#EE6C3D;
  
}

/* Shop All styling */

.shopping-container{
  height: 100%;
  max-width: 1400px;
}
.shop-store{
  background-color: rgba(0, 0, 0, 0.219); 
  border-radius: 10px;
  height: 580px;
  width: 950px;
  padding-top:10px;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.shop-store::-webkit-scrollbar{
  height: 12px;

}

.shop-store::-webkit-scrollbar-thumb{
  background:#EE6C3D;
}

.shop-store::-webkit-scrollbar-track {
  /* Changed */
  background: rgba(0, 0, 0, 0.085);
  /* background: white; */
}

.shop-store::-webkit-scrollbar-track,
.shop-store::-webkit-scrollbar-thumb{
  border-radius:92px;
}


.allProducts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.header-container{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 200px;
}

/* Cart.jsx */

.cart-header {
  color: #EE6C3D;
  font-style:bold;
}

.cart-items {
  overflow-y: scroll;
  /* flex-wrap: wrap; */
  background-color: rgba(0, 0, 0, 0.219); 
  height: 550px;
  width: 75vw;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius:10px;
}

.cart-card {
  margin:20px;
  display:flex;
  background:#e7dbb6;
  /* justify-content: space-between; */
  align-items: stretch;
}
.cart-card img{
  width:200px;
}

.cartWOImage{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:10px;
  align-items:end;
  padding-bottom: 10px;
}

.cart-container {
  margin: 20px;
  background-color: #cae9e4;
  background:#e7dbb6;
  border-radius: 10px;
}

.cart1{
  padding-bottom: 25px;
  /* margin-right: 600px;  */
  grid-column-start: 1;
  grid-column-end: 3;

}

.cart2{
  padding-bottom: 25px;
  margin-left:50px;
  grid-column-start: 3;
  grid-column-end: 3;
 
}
.cart3{
  margin-right:50px;
  grid-column-start: 4;
  grid-column-end: 4;
}

.cart-card button {
  font-style: bold;
  font-size: 20px;
  border-radius: 10px;
  border-color:#293241;
  border-width:bold;
  height: 4.5rem;
  width: 7.5rem;
  color:#293241;
  
}

.cart-card button:hover {
  background-color: #24324b;
  color:aliceblue;
}

/* ====={ Add New Product }===== */

.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #293241;
  width: 80%;
  height: 95%;
  border-radius: 20px;
}

.new-item-cancel {
  margin-top: -20px;
  /* margin-right: 20px; */
  align-self: flex-end;
  text-decoration: underline;
  text-align: end;
  color: #cae9e4;
}

.new-item-cancel:hover {
  color: #98d1c9;
  cursor: pointer;
  transition: 0.3s;
}

.add-new-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-item-btn {
  margin-top: 20px;
}

.item-valid {
  color: rgb(202, 242, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
