*{
  /* outline: red dashed 1px; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked {
  background-color: brown;
}
/* nates-test-header navbar css begin */

.overall-app-container {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #293241;
  height: 85%;
}

.overall-app-container{
  height: 100vh;
}

/* ====={ Header styling }===== */
.nav {
  background-color: #e0fbfc;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 15%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .3rem;
}

.header-icon {
  display: flex;
  justify-content: space-between;
}

.header-icon img {
  /* padding: 1rem; */
  height: 70%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li.active {
  background-color: #98d1c9;
}

.nav li:hover {
  background-color: #8dc1ba;
}

/* Remove Item Form styling */
.removal-container {
  display: flex;
  flex-wrap: wrap;
}

.removal-card {
  display: flex;
  height: 200px;
  flex-direction: column;
}

.removal-card img {
  height: 100px;
}

.selected {
  border: 10px rgb(0, 191, 255) solid;
  border-radius: 14px;
}

/* Welcome/Landing Page */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: black; */
  height: 100%;
}
.featured {
  height: 400px;
  align-self: center;
  display: flex;
  overflow-x: scroll;
  max-width: 1400px;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 10px;
}

.featured-title {
  color: #EE6C3D;
  font-size: 3em;
  width: 100%;
  align-self: center;
}

.featured-card-text{
  color: #293241;
  
}

.featured-card-container{
  
  border-radius: 10px;
  background-color: #cae9e4;
  align-content: center;
  text-align: center;
  
}

.featured-product-img{
  border-radius: 10px;
  width: 145px;
  height: 200px;
  border: 5px solid #293241;
  
}

.welcome-banner {
  margin-top: 2.5rem;
  align-self: center;
  border-radius: 10px;
  width: 1000px;
  height: 500px;
}

/* App main content container begin*/
.container {
  display: flex; 
  justify-content: center;
}
/* App main content container end */
/* Account Visualization styling */

.account-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  background-color: #293241;
}

.account-view-pfp {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-color: #00000038;
}

.account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.account-view-greeting {
  font-size: 3.5em;
  color: #EE6C3D;
}

.acc-btn {
  height: 80px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #EE6C3D;
  color: #e0fbfc;
}

.admin-btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.customer-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}


/* Featured Card start */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 35%; */
  width: 500px;
  /* margin: 5%; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
}

.featured-card-text-container {
  padding: 2px 16px;
}

/* ====={ Account Creation Styling }===== */
/* .add-new-user {
  height: 100%;
}*/

.new-user-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  /* flex-direction: column; */
} 

.bs-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-header {
  color: #EE6C3D;
  font-size: 3em;
}

.entry {
  font-size: 1.7em;
  width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #0000005d;
  border: none;
  border-radius: 6px;
  color: #e0fbfc;
  padding: 10px;
}

.entry:focus {
  background-color: #98d1c9;
  border: none;
}

.entry-label {
  color: #EE6C3D;
  font-size: 1.7em;
  margin: 10px;
}

.create-user-btn {
  grid-column-start: 1;
  grid-column-end: span 2;
  width: 20%;
  height: 70px;
  margin-top: 25px;
  justify-self: center;
  background-color: #EE6C3D;
  border: none;
  border-radius: 5px;
}

.create-user-btn:hover {
  cursor: pointer;
  transition: .3s;
  background-color: orange;
}

.stat-span {
  color: #98d1c9;
}

.link-span {
  color: #e0fbfc;
}

.link-span:hover {
  cursor: pointer;
  color: #98d1c9;
  transition: .3s;
}


/* .email-entry {

}

.email-entry-label {

}

.username-entry {

}

.username-entry-label {

}

.password-entry {

}

.password-entry-label {
  
} */

/* Search Bar Styling */
.searchBarContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 200px;

}

.input-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 3.5rem;
  padding: 0 15px;
  /* box-shadow: 0px 0px 8px #ddd; */
  display:flex;
  align-items: center;
} 
.input-wrapper input {
 padding-left: 10px;
 height: 50px;
 width: 600px; 
 border: hidden;
 font-size: 25px
}

#search-icon {
  color: blue;
  
}

/* Shop All styling */

.shopping-container{
  height: 100%;
  overflow: hidden;
}
.shop-store{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  justify-content: center;
  height: 400px;
  width: 900px;
  padding-top:0;
  overflow-x: scroll;
  max-width: 1400px;

  

}